:root{
    --red: #E50914;
    --black:#0a0a0a;
    --gray-bg:#141414;
    --light-gray: #e3e3e3;
    --button-gray: rgb(239, 239, 239); 
    --white: #fff;
    --medium-gray-hover: #b3b3b3;
}

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: var(--gray-bg);
    color: var(--white);
    line-height: 1.2;
    font-family: 'Helvetica';
    
}

header {
    height: 70px;
    display: block;
}


.menu-nav{
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 4%;
}

/* .menu-nav > .logo {
    text-decoration: none;
    color: var(--red);
    font-family: 'Bebas Neue', cursive;
    font-size: 35px;
    margin-right: 5x;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.2px;
    
} */

.logo {
    size-adjust: 10%;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.primary-navigation {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

li > a{
    margin-left: 20px;
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
}

li > a:hover {
    color: var(--medium-gray-hover);
    transition: color .4s;
}

.nav-tab > .current-active {
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    cursor:default;
}

.secondary-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
      
    
}

.secondary-navigation > a {
    text-decoration: none;
    color: var(--white);
    margin-right: 25px;
}

.secondary-navigation > a:hover {
    color: var(--medium-gray-hover);
    transition: color .4s;
}
#profile-pic {
    border-radius: 4px;
}

/* Filme principal */

.main-movie {
    background: url("../img/peaky-blinders-cover.jpg");
    height: 590px;
    background-size: cover;
    position: relative;
    font-size: 1.4vw;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
   
}

.movie-container {
    z-index: 10;
    position: relative;
    width: 485px;
    margin-left: 54px;
  
}

.movie-title{
    font-size: 36px;
    margin-bottom: 12px;
}
.gradient {
    background: rgba(0,0,0,0.2);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    border-radius: 4px;
    height: 41px;
    font-size: 16px;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    margin-right: 11px;
    font-weight: 600;
    
    
}
.watch-button {
     background-color: var(--button-gray);
     display: flex;
     align-items: center;
}

 .watch-button:hover{
    background-color: #b3b3b3;
    transition: .4s ease-out;
}


.more-info-button{
    background-color: rgba(109, 109, 110, 0.7);
    color: var(--white); 
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 1px rgb(0 0 0 / 45%);
}

.more-info-button:hover{
    background-color: rgba(109, 109, 110, 0.4); 
    transition: .4s ease-out; 
}


.buttons svg {
    margin-right: 10px;
}

.buttons{
  display: inline-block;
  
}

.buttons-wrapper {
    margin-top: 21px;
}

/* Carousel */

.carousel img {
    width: 190px;
    height: 255px;
    border-radius: 2px;
}

.carousel {
    margin-top: 20px;
    margin-left: 54px;
    cursor: pointer;
    
}

.carousel p{
    font-size: 19px;
    font-weight: 700;
    color: #e5e5e5;
    margin-bottom: 10px;
    
}